#mpe_erg .rc-slider-disabled{
  background-color: #272b30;
}
/*#mpe_erg .rc-slider-track{*/
/*  background-color: rgba(91, 192, 222, 0.8);*/
/*}*/

#mpe_erg .rc-slider-handle{
  border-color: #5bc0de;
}

/*#mpe_erg .rc-slider-track{
  background-color: rgba(91, 192, 222, 0.8);
}*/
#mpe_erg .rc-slider-dot-active{
  border-color: #5bc0de;
}

 .rc-slider-track[class$='1'],
 .rc-slider-track[class$='3'],
 .rc-slider-track[class$='5'],
 .rc-slider-track[class$='7'],
 .rc-slider-track[class$='9'] {
  background-color: rgba(91, 192, 222, 0.8);
}
 .rc-slider-track[class$='2'],
 .rc-slider-track[class$='4'],
 .rc-slider-track[class$='6'],
 .rc-slider-track[class$='8'],
 .rc-slider-track[class$='0'] {
  background-color: #e9e9e9;
}

#mpe_erg .Select-control{
  background-color: rgb(194, 194, 192);
}

#mpe_erg .rc-slider-tooltip-inner{
  background-color: rgba(82, 87, 92, 0.23);
  box-shadow: 0 0 0 #d9d9d9;
}
#mpe_erg .Select--multi.is-disabled .Select-value{
  background-color: rgb(194, 194, 192);
  border: 0px;
}

#likelihood .Select-control{
 background-color: rgb(144, 144, 168);
  border: 0px;
}

#e_input .rc-slider-track[class$='2'],
#e_input .rc-slider-track[class$='4'],
#e_input .rc-slider-track[class$='6'],
#e_input .rc-slider-track[class$='8'],
#e_input.rc-slider-track[class$='0'] {
  background-color: rgb(194, 194, 192);
}
#q_input .rc-slider-track[class$='2'],
#q_input .rc-slider-track[class$='4'],
#q_input .rc-slider-track[class$='6'],
#q_input .rc-slider-track[class$='8'],
#q_input .rc-slider-track[class$='0'] {
  background-color: rgb(194, 194, 192);
}


#modal_color_0 .rc-slider-track{
  background-color: #ccff66;
}

#modal_color_1 .rc-slider-track{
  background-color: MediumSeaGreen;
}

#modal_color_2 .rc-slider-track{
  background-color: Tomato;
}

#modal_color_3 .rc-slider-track{
  background-color: SlateBlue;
}

#modal_color_4 .rc-slider-track{
  background-color: Violet;
}
#q_time .rc-slider-handle{
  background-color: #96dbfa;
}
